UNYDESK_GIT_SYNC_ENABLED=0
UNYDESK_GIT_SYNC_PUSH=1
UNYDESK_GIT_BRANCH=master
UNYDESK_GIT_REQUIRE_BUILD=1
UNYDESK_GIT_PUSH_URL=https://github.com/tony-bonnin/unydesk.git
GH_TOKEN_FILE=/path/to/github-token
